@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --green: #77B800;
  --black: #36424A;
}

.logo{
  font-family: 'Pacifico', cursive;
  color: var(--green);
  /* font-size: xx-large; */
}

a{
  text-decoration: none;
  color: var(--black)
}

.card {display:inline-block;}

.centerBox {
  max-width: 600px;
  min-height: 600px;
  border: 1px #282c34;
}
