@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --green: #77B800;
  --black: #36424A;
}

.logo{
  font-family: 'Pacifico', cursive;
  color: var(--green);
  font-size: xx-large;
}

a{
  text-decoration: none;
  color: var(--black)
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
